Adafruit-GPIO==1.0.3
Adafruit-PureIO==1.1.8
Adafruit-SSD1306==1.6.2
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
pyFirmata2==2.1.0
pyserial==3.5
pyttsx3==2.90
RPi.GPIO==0.7.0
simplepam==0.1.5
wheel==0.36.2
psutil==5.8.0
Pillow==8.1.0
opencv-contrib-python==4.1.0.25
imutils==0.5.4
numpy==1.19.5
