Adafruit-GPIO==1.0.3
Adafruit-PureIO==1.1.8
Adafruit-SSD1306==1.6.2
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pkg-resources==0.0.0
pyFirmata2==2.1.0
pyserial==3.5
pyttsx3==2.90
RPi.GPIO==0.7.0
spidev==3.5
Werkzeug==1.0.1
